{% extends "base.html" %}

{% block title %}Instructions{% endblock %}

{% block content %}
<div class="content">
    <h1>Instructions</h1>
    <p>Welcome to the VAAST Task experiment!</p>
    <p>In this experiment, you will see a series of words. Your task is to respond as quickly and accurately as possible:</p>
    <ul style="text-align: left; margin: auto; max-width: 500px;">
        <li>Press the 'Y' key to approach positive words.</li>
        <li>Press the 'N' key to avoid negative words.</li>
    </ul>
    <p>Please do your best and respond as quickly as you can.</p>
    <form method="POST" action="">
        {% csrf_token %}
        <button type="submit" class="button">Start Experiment</button>
    </form>
</div>
{% endblock %}